@import '../../defaults.scss';

.return-button {
    position: fixed;
    left: 1rem;
    top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: linear-gradient(to left bottom, $primary-color, $base-color);
    padding: 10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.return-button:hover {
    color: white;
}